<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoxUnarchiver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DropboxUnarchiver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>GoogleUnarchiver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NewUnarchiver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YandexUnarchiver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F2B3CC016807C57003DD09A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F2B3E3116807CA3003DD09A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F2B3FA216807CB9003DD09A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F2B411316807CCF003DD09A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F9BD26D14D40F6600C42822</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
